<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://hidden-escarpment-2805.herokuapp.com/"><em>Tiktok</em></a> is a 
  <a href="https://hidden-escarpment-2805.herokuapp.com/">social platform</a>
  to tik people and talk.
</p>