<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
<p>Jay Joseh</p>
<p>+254716133832</p>
  Contact the Jay about the sample app at the
  <a href="https://hidden-escarpment-2805.herokuapp.com/#contact">contact page</a>.
</p>