<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Tiktok at the 
  <a href="https://hidden-escarpment-2805.herokuapp.com/#help">Tiktok help section</a>.
  To get help on this sample app, see the
  <a href="https://hidden-escarpment-2805.herokuapp.com/"><em>Tiktok guide</em></a>.
</p>